body,ul,li {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
header {
	background: #000;
	nav{
		padding: 20px 0;
		overflow: hidden;
		ul {
		float: left;
		padding-left: 20px;
		overflow: hidden;
			li {
				float: left;
				padding: 5px 20px;
				color: #fff;
			}
		}
		.userInfo {
			color: #fff;
			float: right;
			padding: 5px 10px;
			span {
				cursor: pointer;
			}
			span:hover {
				text-decoration: underline;
			}
		}
	} 
}

.grid {
	overflow: hidden;
	.grid-1-2 {
		float: left;
		width: 50%;
		padding: 20px;
		box-sizing: border-box;
		border: 1px solid #000;
	}
}


footer {
	background-color : #000; 
	color: #fff;
	>ul{
		overflow: hidden;
		>li {
			padding-top: 20px;
			float: left;
			width: 33.33%;
			text-align: center;
			box-sizing: border-box;
			ul li {
				padding: 10px;
				
			}
		}
	}
	p {
		text-align: center;
	}
}